@font-face {
    font-family: 'NanumGothic';
    src: url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css') format('font-woff');
    font-weight: normal;
    font-display: swap;
}

* { 
    font-family: 'NanumGothic';
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

li {
    cursor: pointer;
}

body {
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
}

#wrap { 
    width: 420px;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #fff;
}
