#footer {
    background: rgb(77, 204, 255);
    position: fixed;
    display: flex;
    bottom: 0px;
    width: 420px;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 12px;
    align-items: center;
}

.icon {
    width: 30px; height: 30px;
    display: flex;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}