<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.Mapper.community.BulkbuygroupMapper"> <!-- mybatis -->
    <insert id="createGroup" parameterType="web.model.dto.bulkbuygroup.BulkbuygroupDto" useGeneratedKeys="true" keyProperty="bno">
        <!-- 방만들때 회원번호fk , 제목 내용 인원수 설정  -->
        INSERT INTO bulkbuygroup( mno , btitle , bcontent , btotal , bcount )
        values
        ( #{mno} , #{btitle} , #{bcontent} , #{btotal} , 1 )
    </insert>


    <!-- 전체 검색 -->
    <select id="listGroup" resultType="web.model.dto.bulkbuygroup.BulkbuygroupDto">
        SELECT * FROM bulkbuygroup
    </select>

    <!-- 시 구 동 주소 검색 -->
    <select id="listaddress" parameterType="map" resultType="web.model.dto.bulkbuygroup.BulkbuygroupDto">
        SELECT b.* , m.maddress1 , m.maddress2 , m.maddress3
        FROM bulkbuygroup b join member m on b.mno = m.mno
        where 1=1
        <if test="maddress1 != null">
            and m.maddress1 = #{maddress1}
        </if>
        <if test="maddress2 != null">
            and m.maddress2 = #{maddress2}
        </if>
        <if test="maddress3 != null">
            and m.maddress3 = #{maddress3}
        </if>
    </select>

    <!-- 검색 제목/내용 ex) 안녕치면 안녕 이라는 글 포함 나옴 -->
    <select id="listprint" parameterType="map" resultType="web.model.dto.bulkbuygroup.BulkbuygroupDto">
        SELECT * FROM bulkbuygroup where
        btitle like concat( '%' , #{btitle} , '%' ) or
        bcontent like concat ( '%' , #{bcontent} , '%' )
    </select>

    <!-- 삭제시 본인 회원번호 확인시 삭제 -->
    <delete id="deleteGroup" parameterType="int">
        DELETE FROM bulkbuygroup where mno = #{mno};
    </delete>

    <!-- 수정시 본인 회원번호 확인후 제목/내용 수정 필요 시 인원수도 하겠음 -->
    <update id="updateGroup" parameterType="web.model.dto.bulkbuygroup.BulkbuygroupDto">
        UPDATE bulkbuygroup set btitle = #{btitle} , bcontent = #{bcontent} where mno = #{mno}
    </update>

    <update id="chattingCount" parameterType="int">
        UPDATE bulkbuygroup set bcount = bcount+1 where bno = #{bno} and bcount &lt; btotal
    </update>

</mapper>